@model DrawingRegisterWeb.Models.Project
@*@Model.ProjectItems.All(i => i.ProjectId == i.Id);*@

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjcetNubmer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjcetNubmer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeadlineDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeadlineDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectState.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Item Number
            </th>
            <th>
                Item Description
            </th>
        </tr>
    </thead>
    <tbody>
        @for(var i = 0; i < Model.ProjectItems.Count(); i++)
        {
            if(Model.ProjectItems[i].ProjectId == Model.Id)
            {
                <tr>
                     <td>
                        @Model.ProjectItems[i].Name
                     </td>
                     <td>
                        @Model.ProjectItems[i].Number
                     </td>
                 </tr>             
            }
        }
    </tbody>
</table>