@model DrawingRegisterWeb.ViewModels.ProjectVM

@{
    ViewData["Title"] = "Project Details";
}

<h1 class="text-primary">Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project!.ProjectNubmer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project!.ProjectNubmer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project!.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project!.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project!.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project!.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project!.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project!.DeadlineDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project!.DeadlineDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project!.ProjectState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project!.ProjectState!.Name)
        </dd>
    </dl>
</div>

<div class="btn-group" role="group">
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.Project!.Id" class="btn btn-outline-primary">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Project!.Id" class="btn btn-outline-danger">Delete</a>
</div>

<hr />

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" data-bs-toggle="tab" href="#drawings" aria-selected="true" role="tab">Drawings</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#documentations" aria-selected="false" role="tab" tabindex="-1">Documentations</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#layouts" aria-selected="false" role="tab" tabindex="-1">Layouts</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content">

  <div class="tab-pane fade active show" id="drawings" role="tabpanel">

    @using (Html.BeginForm("Create", "Drawings"))
    {
       <input type="text" name="idData" value="@Model.Project!.Id" hidden/>
       <button type="submit" formmethod="get" class="btn btn-primary mt-3 mb-3">Create New Drawing</button >
    }

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Drawings![0].DrawingNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Drawings![0].Name)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Drawings![0].Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model.Drawings!)
                {
                    <tr>
                        <td>
                            @item.DrawingNumber
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            <a asp-controller="Drawings" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary"> 
                                <i class="bi bi-folder2-open"></i> Open
                            </a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="documentations" role="tabpanel">
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>
                        @Html.DisplayNameFor(model => model.Documentations![0].FileName)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Documentations![0].FileType)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Documentations![0].Revision)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Documentations![0].CreateDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model.Documentations!)
                {
                    <tr>
                        <td>
                            @item.FileName
                        </td>
                        <td>
                            @item.FileType
                        </td>
                        <td>
                            @item.Revision
                        </td>
                        <td>
                            @item.CreateDate
                        </td>
                        <td>
                            <a asp-controller="Documentations" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Preview</a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="layouts" role="tabpanel">
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>
                        @Html.DisplayNameFor(model => model.Layouts![0].FileName)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Layouts![0].FileType)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Layouts![0].Revision)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Layouts![0].CreateDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model.Layouts!)
                {
                    <tr>
                        <td>
                        @item.FileName
                        </td>
                        <td>
                        @item.FileType
                        </td>
                        <td>
                        @item.Revision
                        </td>
                        <td>
                        @item.CreateDate
                        </td>
                        <td>
                            <a asp-controller="Layouts" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Preview</a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
  </div>

</div>