@model DrawingRegisterWeb.Models.Layout

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-primary">Edit</h1>

<h4>Layout</h4>
<hr />
<div class="row">
    <div class="col-6 min-vh-100">
        @if (Model.FileType == "pdf")
        {
            <embed class="shadow-sm w-100" src="@Model.FileUrl" style="height:70%"/>
        }
        else
        {
            <a class="btn btn-outline-secondary mt-3 btn-lg" href="@Model.FileUrl" download="@Model.FileName.@Model.FileType">
                <i class="bi bi-cloud-download"></i> Download @Model.FileName.@Model.FileType
            </a>   
        }
    </div>
    <div class="col-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden>
                <label asp-for="FileUrl" class="control-label"></label>
                <input asp-for="FileUrl" class="form-control" />
                <span asp-validation-for="FileUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FileType" class="control-label"></label>
                <input asp-for="FileType" class="form-control" />
                <span asp-validation-for="FileType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Revision" class="control-label"></label>
                <input asp-for="Revision" class="form-control" />
                <span asp-validation-for="Revision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="btn-group mt-3" role="group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ProjectId" class="btn btn-outline-secondary">Go to Project</a>
                <a asp-action="Index" class="btn btn-outline-secondary">Go to Layout list</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
