@model DrawingRegisterWeb.ViewModels.LayoutVM

@{
	ViewData["Title"] = "Layouts";
}

<h1>Layouts list</h1>

<div class="alert alert-dismissible alert-info mt-3">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  The best practice is to create or upload new Layout directly from the <a  asp-controller="Projects" asp-action="Index">Project</a>. 
  This way ensures that the project and the layout are always connected.
</div>

<form asp-controller="Layouts" asp-action="Index" method="get" class="d-flex mt-3">
		<select asp-for="Projects" asp-items="Model.ProjectSelectList" class="form-select me-sm-2">
			<option value="">All</option>
		</select>

		<input asp-for="Search" type="text" class="form-control me-sm-2" placeholder="Search">
		<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

<table class="table table-striped mt-3">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Layouts![0].FileName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Layouts![0].FileType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Layouts![0].Project)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Layouts![0].CreateDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Layouts![0].Revision)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model.Layouts!)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.FileName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FileType)
			</td>
			<td>
				@item.Project.ProjectNubmer @item.Project.Name
			</td>
			<td>
				@item.CreateDate.ToShortDateString()
			</td>
			<td>
				@item.Revision
			</td>
			<td>
				<div class="btn-group" role="group"> 
					<a class="btn btn-primary">Open <i class="bi bi-cloud-arrow-down-fill"></i></a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
				</div>
			</td>
		</tr>
}
	</tbody>
</table>
