@using Microsoft.AspNetCore.Identity
@model DrawingRegisterWeb.ViewModels.RegisterVM

@inject UserManager<IdentityUser> UserManager

@{
	ViewData["Title"] = "Manager";
}

<div id="backgroundImgDR">
	<h1 class="text-primary text-center pt-5">Your Drawing Register!</h1>
</div>

<hr />

<p class="lead text-center">&emsp;This is where you can manage Your Drawing Register! 
	Create new register, send invitations/requests, manage team members.
</p>

<hr />

@if (Model.DrawingRegister == null)
{
	<div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3 mt-3">

		<div class="col">
			<div class="card mt-2 h-100">
				<div class="card-body">
					<div class="row mt-3">
						<div class="col-6">
							<h2 class="card-title">Create Your Own Drawing Register</h2>
							<h6 class="card-subtitle text-secondary">Register Owner - Administrator</h6>
						</div>
						<div class="col-6 text-end">
							<img src="~/Assets/owner.png" />
						</div>
					</div>

					<div class="text-end mt-3">
						<a asp-action="Create" class="btn btn-lg btn-outline-primary"><i class="bi bi-plus-circle"></i> Create Register</a>
					</div>

					<p class="card-text mt-3">&emsp;Start Fresh and build your own Drawing Register! Once the register is added, you will be assigned as an Administrator.</p>
			  </div>
			</div>
		</div>

		<div class="col">
			<div class="card mt-2 h-100">
				<div class="card-body">

					<div class="row mt-3">
						<div class="col-4">
							<h2 class="card-title">Join Existing Register</h2>
							<h6 class="card-subtitle text-secondary">Engineer & Mechanic</h6>
						</div>
						<div class="col-8 text-end">
							<img src="~/Assets/engineer.png" />
							<img src="~/Assets/mechanic.png" />
						</div>
					</div>

					<div class="text-end mt-3">
						<a asp-action="RequestInvitation" class="btn btn-lg btn-outline-primary"><i class="bi bi-send-plus"></i> Request an invitation</a>
					</div>

					<p class="card-text mt-3">&emsp;Send a request to the Existing Drawing Register. 
						Once the administrator approves your application, you can access register.
					</p>
			  </div>
			</div>
		</div>
	</div>

	<div class="mt-5">
		<div class="p-3 border rounded h-100" style="background-color:rgb(100, 160, 250, 0.1);">
			<h3>Invitations/Requests</h3>
			<h6 class="text-secondary">Here you can accept invitations or view/delete requests</h6>
			<span class="text-danger">@Html.TempData["BadInvitation"]</span>
			@if (Model.Invitations!.Count == 0)
			{
				<p class="text-secondary text-center mt-3">You don't have any Requests or Invitations...</p>
			} else
			{
				<div class="table-responsive">
					<table class="table table-borderless mt-3">
						<thead>
							<tr>
								<th>
									@Html.DisplayNameFor(model => model.Invitations![0].IdentityUser!.Email)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Invitations![0].Role)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Invitations![0].Status)
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.Invitations!)
							{
								<tr style="vertical-align: middle">
									<td>
										@if (item.Status!.Name == ConstData.Status_Request)
										{
											@item.RecipientEmail
										} else
										{
											@item.IdentityUser!.Email
										}
									</td>
									<td>
										@item.Role
									</td>
									<td>
										@item.Status!.Name 
									</td>
									<td>
										@if(item.Status!.Name == ConstData.Status_Request)
										{
											<form method="post" asp-action="RemoveRequestInvitation" asp-route-id="@item.Id">
												<button type="submit" class="btn btn-outline-danger">
													<i class="bi bi-send-dash"></i> Unsent Request
												</button>
											</form>
										} else
										{
											<div class="btn-group">
												<form method="post" asp-action="AcceptInvitation" asp-route-id="@item.Id">
													<button type="submit" class="btn btn-outline-primary">
														<i class="bi bi-person-add"></i> Accept
													</button>
												</form>
												<form method="post" asp-action="RemoveRequestInvitation" asp-route-id="@item.Id">
													<button type="submit" class="btn btn-outline-danger">
														<i class="bi bi-person-dash"></i> Deny
													</button>
												</form>
											</div>
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		</div>
	</div>
}
else
{
	<div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3 mt-3">
		<div class="col">
			<div class="p-3 border rounded h-100">
				<h2>Team Members</h2>
				<h6 class="text-secondary">View your team, change roles, remove members from register</h6>
				<span class="text-danger">@Html.TempData["AdminChangeRole"]</span>
				<span class="text-danger">@Html.TempData["AdminLeave"]</span>
				<div class="table-responsive">
					<table class="table table-borderless mt-3">
						<thead>
							<tr>
								<th></th>
								<th>
									@Html.DisplayNameFor(model => model.DrawingRegisterUsers![0].IdentityUser!.Email)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.DrawingRegisterUsers![0].Role)
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.DrawingRegisterUsers!)
							{
								<tr style="vertical-align: middle">
									<td>
										@if (@item.Role == ConstData.Role_Admin_Name)
										{
											<img style="height:2em" src="~/Assets/owner.png"/>
										}
										else if (@item.Role == ConstData.Role_Engr_Name)
										{
											<img style="height:2em" src="~/Assets/engineer.png" />
										}
										else if (@item.Role == ConstData.Role_Mech_Name)
										{
											<img style="height:2em" src="~/Assets/mechanic.png" />
										}
										else if (@item.Role == ConstData.Role_Spect_Name)
										{
											<img style="height:2em" src="~/Assets/spectator.png" />
										}
									</td>
									<td>
										@item.IdentityUser!.Email
									</td>
									<td>
										@if (User.IsInRole(ConstData.Role_Admin_Name))
										{
											<form method="post" asp-action="ChangeRole" asp-route-id="@item.Id" class="btn-group">
												<select name="role" class="form-select-sm">
													<option disabled selected>@item.Role</option>
													<option>@ConstData.Role_Engr_Name</option>
													<option>@ConstData.Role_Mech_Name</option>
													<option>@ConstData.Role_Admin_Name</option>
												</select>
												<button type="submit" class="btn btn-outline-primary">
													<i class="bi bi-pencil-square"></i> Save
												</button>
											</form>
										}else 
										{
											@item.Role
										}
									</td>
									<td>
										@if (UserManager.GetUserName(User) != item.IdentityUser!.Email && User.IsInRole(ConstData.Role_Admin_Name))
										{
											<form method="post" asp-action="RemoveMember" asp-route-id="@item.Id">
												<button type="submit" class="btn btn-outline-danger">
													<i class="bi bi-person-dash"></i> Remove
												</button>
											</form>
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="p-3 border rounded h-100">
				<h2>Invitations/Requests</h2>
				<div class="row">
					<div class="col">
						<h6 class="text-secondary col">Accept or send invitations, view or delete requests</h6>
						<span class="text-danger">@Html.TempData["BadInvitation"]</span>
					</div>
					
					@if (User.IsInRole(ConstData.Role_Admin_Name))
					{
						<div class="col text-center">
							<a asp-action="Invitation" class="btn btn-outline-primary"><i class="bi bi-send-plus"></i> Send an invitation</a>	
						</div>
					}
				</div>
				
				@if (Model.Invitations!.Count == 0)
				{
					<p class="text-secondary text-center mt-3">You don't have any Requests or Invitations...</p>
				} else
				{
					<div class="table-responsive">
						<table class="table table-borderless mt-3">
							<thead>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.Invitations![0].IdentityUser!.Email)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Invitations![0].Role)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Invitations![0].Status)
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.Invitations!)
								{
									<tr style="vertical-align: middle">
										<td>
											@if (item.Status!.Name == ConstData.Status_Request)
											{
												@item.IdentityUser!.Email
											} else
											{
												@item.RecipientEmail
											}
										</td>
										<td>
											@item.Role
										</td>
										<td>
											@item.Status!.Name 
										</td>
										<td>
											@if(item.Status!.Name == ConstData.Status_Request &&
												User.IsInRole(ConstData.Role_Admin_Name))
											{
												<div class="btn-group">
													<form method="post" asp-action="RemoveInvitation" asp-route-id="@item.Id">
														<button type="submit" class="btn btn-sm btn-outline-danger">
															<i class="bi bi-person-dash"></i> Reject
														</button>
													</form>	
													<form method="post" asp-action="AcceptRequest" asp-route-id="@item.Id">
														<button type="submit" class="btn btn-sm btn-outline-primary">
															<i class="bi bi-person-add"></i> Accept
														</button>
													</form>
												</div>
											}
											else if (item.Status!.Name == ConstData.Status_Invitation &&
												User.IsInRole(ConstData.Role_Admin_Name))
											{
											<form method="post" asp-action="RemoveInvitation" asp-route-id="@item.Id">
												<button type="submit" class="btn btn-outline-danger">
													<i class="bi bi-send-dash"></i> Unsent Request
												</button>
											</form>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				}
			</div>
		</div>
	</div>

	<hr class="mt-5"/>

	<h3 class="text-primary">Dashboard</h3>

	<div class="row">
		<div class="col-lg-6 mt-3">
			<div class="card h-100">
				<div class="card-header">
					<div class="row row-cols-2">
						<h6 class="col-4 h-100 my-auto">Bar Chart</h6>
						<div class="col-8 form-group">
							<div class="form-floating">
								<select asp-items="Model.ProjectSelectList" 
									class="form-select" 
									id="floatingSelectProject" 
									aria-label="Floating label select"></select>
								<label for="floatingSelectProject">Project Number:</label>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body" id="barContainer" style="position:relative">
					<canvas id="bar" ></canvas>
				</div>
			</div>
		</div>

		<div class="col-lg-6 mt-3">
			<div class="card h-100">
				<div class="card-header">
					<div class="row">
						<h6 class="col-4 h-100 my-auto">Doughnut</h6>
						<div class="col-8 form-group">
							<div class="form-floating">
								<select class="form-select" id="floatingSelectStates">
									<option selected>Upcoming & Running</option>
									<option>Running & Completed</option>
									<option>Canceled & Completed</option>
									<option>All</option>
								</select>
								<label for="floatingSelectStates">Status of Project:</label>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body" id="doughnutContainer" style="position:relative">
					<canvas id="doughnut" ></canvas>
				</div>
			</div>
		</div>
	</div>

	<hr/>

	@if (User.IsInRole(ConstData.Role_Admin_Name))
	{
		<div class="alert alert-light mt-4" style="background-color:rgb(100, 160, 250, 0.1);">
			<p class="mb-0">
				&emsp;As an Administrator, you can Delete your Drawing Register. Once Register Deleted your Drawings 
				and Projects will be Deleted as well. If you have assigned another team member as an Administrator, 
				you can simply leave Register and join another one or send a request to join the same Register again.
			</p>
			<div class="mt-4">
				<form method="post" asp-action="Leave" class="btn-group-sm">
					<a 
						asp-action="Delete" 
						asp-route-id="@Model.DrawingRegister!.Id" 
						class="btn btn-outline-danger">
							<i class="bi bi-trash-fill"></i>&emsp;Delete Register
					</a>
					<button type="submit" class="btn btn-outline-danger"><i class="bi bi-person-dash"></i>&emsp;Leave Register</button>
				</form>
			</div>
		</div>
	} else if (User.IsInRole(ConstData.Role_Spect_Name))
	{
		<form method="post" asp-action="Leave">
			<button type="submit" class="btn btn-sm btn-outline-danger disabled"><i class="bi bi-person-dash"></i>&emsp;Leave Register</button>
		</form>
	} else
	{
		<form method="post" asp-action="Leave">
			<button type="submit" class="btn btn-sm btn-outline-danger"><i class="bi bi-person-dash"></i>&emsp;Leave Register</button>
		</form>		
	}
}

@section Scripts{
	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
	<script src="~/js/drawingRegister.js"></script>
}