@using Microsoft.AspNetCore.Identity
@model DrawingRegisterWeb.ViewModels.RegisterVM

@inject UserManager<IdentityUser> UserManager

@{
	ViewData["Title"] = "Index";
}

<div id="backgroundImgDR" class="mt-5 jumbotron mb-0">
	<h1 class="display-1 text-light text-center p-3"><b>Your Drawing Register!</b></h1>
</div>

<hr />

<p class="lead text-center">&emsp;This is where you can manage Your Drawing Register! 
	Create invitations to your register, manage team members or join existing register.
</p>

<hr />

@if (Model.DrawingRegister == null)
{
	<div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3 mt-3">

		<div class="col">
			<div class="card mt-2 h-100">
				<div class="card-body">
					<div class="row mt-3">
						<div class="col-6">
							<h2 class="card-title text-primary">Create Your Own Drawing Register</h2>
							<h6 class="card-subtitle text-secondary">Register Owner - Administrator</h6>
						</div>
						<div class="col-6 text-end">
							<img src="~/Assets/owner.png" />
						</div>
					</div>

					<div class="text-end mt-3">
						<a asp-action="Create" class="btn btn-lg btn-outline-primary"><i class="bi bi-plus-circle"></i> Create Register</a>
					</div>

					<p class="card-text lead text-secondary mt-3">&emsp;Start Fresh and build your own Drawing Register! 
						It will allow you to create project states, projects, drawings, documentation and 
						layouts. Once the register is added, you will be assigned as an Administrator.
					</p>
			  </div>
			</div>
		</div>

		<div class="col">
			<div class="card mt-2 h-100">
				<div class="card-body">

					<div class="row mt-3">
						<div class="col-4">
							<h2 class="card-title text-primary">Join Existing Register</h2>
							<h6 class="card-subtitle text-secondary">Engineer & Mechanic</h6>
						</div>
						<div class="col-8 text-end">
							<img src="~/Assets/engineer.png" />
							<img src="~/Assets/mechanic.png" />
						</div>
					</div>

					<div class="text-end mt-3">
						<a asp-action="RequestInvitation" class="btn btn-lg btn-outline-primary"><i class="bi bi-send-plus"></i> Request an invitation</a>
					</div>

					<p class="card-text lead text-secondary mt-3">&emsp;Send a request to the Existing Drawing Register. 
						Once the administrator approves your application, you can access register.
					</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="contaitner mt-3">
		<div class="p-3 border rounded h-100">
			<h3 class="text-primary display-5">Invitations/Requests</h3>
			<h6 class="text-secondary">&emsp;Here you can accept invitations or view/delete requests</h6>
			@if (Model.Invitations!.Count == 0)
			{
				<p class="lead text-secondary text-center mt-3">You don't have any Requests or Invitations...</p>
			} else
			{
				<div class="table-responsive">
					<table class="table table-borderless mt-3">
						<thead>
							<tr>
								<th>
									@Html.DisplayNameFor(model => model.Invitations![0].IdentityUser!.Email)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Invitations![0].Role)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Invitations![0].Status)
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.Invitations!)
							{
								<tr style="vertical-align: middle">
									<td>
										@if (item.Status!.Name == ConstData.Status_Request)
										{
											@item.RecipientEmail
										} else
										{
											@item.IdentityUser!.Email
										}
									</td>
									<td>
										@item.Role
									</td>
									<td>
										@item.Status!.Name 
									</td>
									<td>
										@if(item.Status!.Name == ConstData.Status_Request)
										{
											<form method="post" asp-action="RemoveRequestInvitation" asp-route-id="@item.Id">
												<button type="submit" class="btn btn-outline-danger">
													<i class="bi bi-send-dash"></i> Unsent Request
												</button>
											</form>
										} else
										{
											<div class="btn-group">
												<form method="post" asp-action="AcceptInvitation" asp-route-id="@item.Id">
													<button type="submit" class="btn btn-outline-primary">
														<i class="bi bi-person-add"></i> Accept
													</button>
												</form>
												<form method="post" asp-action="RemoveRequestInvitation" asp-route-id="@item.Id">
													<button type="submit" class="btn btn-outline-danger">
														<i class="bi bi-person-dash"></i> Deny
													</button>
												</form>
											</div>
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		</div>
	</div>
}
else
{
	<div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3 mt-3">
		<div class="col">
			<div class="p-3 border rounded h-100">
				<h2 class="text-primary display-5">Team Members</h2>
				<h6 class="text-secondary">&emsp;View your team, change roles, remove members from register</h6>
				<span class="text-danger">@Html.TempData["AdminChangeRole"]</span>
				<span class="text-danger">@Html.TempData["AdminLeave"]</span>
				<div class="table-responsive">
					<table class="table table-borderless mt-3">
						<thead>
							<tr>
								<th></th>
								<th>
									@Html.DisplayNameFor(model => model.DrawingRegisterUsers![0].IdentityUser!.Email)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.DrawingRegisterUsers![0].Role)
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.DrawingRegisterUsers!)
							{
								<tr style="vertical-align: middle">
									<td>
										@if (@item.Role == ConstData.Role_Admin_Name)
										{
											<img style="height:2em" src="~/Assets/owner.png"/>
										}
										else if (@item.Role == ConstData.Role_Engr_Name)
										{
											<img style="height:2em" src="~/Assets/engineer.png" />
										}
										else if (@item.Role == ConstData.Role_Mech_Name)
										{
											<img style="height:2em" src="~/Assets/mechanic.png" />
										}
									</td>
									<td>
										@item.IdentityUser!.Email
									</td>
									<td>
										@if (User.IsInRole(ConstData.Role_Admin_Name))
										{
											<form method="post" asp-action="ChangeRole" asp-route-id="@item.Id" class="btn-group">
												<select name="role" class="form-select-sm">
													<option disabled selected>@item.Role</option>
													<option>@ConstData.Role_Engr_Name</option>
													<option>@ConstData.Role_Mech_Name</option>
													<option>@ConstData.Role_Admin_Name</option>
												</select>
												<button type="submit" class="btn btn-outline-primary">
													<i class="bi bi-pencil-square"></i> Save
												</button>
											</form>
										}else 
										{
											@item.Role
										}
									</td>
									<td>
										@if (UserManager.GetUserName(User) != item.IdentityUser!.Email && User.IsInRole(ConstData.Role_Admin_Name))
										{
											<form method="post" asp-action="RemoveMember" asp-route-id="@item.Id">
												<button type="submit" class="btn btn-outline-danger">
													<i class="bi bi-person-dash"></i> Remove
												</button>
											</form>
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="p-3 border rounded h-100">
				<h3 class="text-primary display-5">Invitations/Requests</h3>
				<div class="row row-cols-2">
					<h6 class="text-secondary col">&emsp;Accept or send invitations, view or delete requests</h6>
					@if (User.IsInRole(ConstData.Role_Admin_Name))
					{
						<div class="col text-center">
							<a asp-action="Invitation" class="btn btn-outline-primary"><i class="bi bi-send-plus"></i> Send an invitation</a>	
						</div>
					}
				</div>
				
				@if (Model.Invitations!.Count == 0)
				{
					<p class="lead text-secondary text-center mt-3">You don't have any Requests or Invitations...</p>
				} else
				{
					<div class="table-responsive">
						<table class="table table-borderless mt-3">
							<thead>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.Invitations![0].IdentityUser!.Email)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Invitations![0].Role)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Invitations![0].Status)
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.Invitations!)
								{
									<tr style="vertical-align: middle">
										<td>
											@if (item.Status!.Name == ConstData.Status_Request)
											{
												@item.IdentityUser!.Email
											} else
											{
												@item.RecipientEmail
											}
										</td>
										<td>
											@item.Role
										</td>
										<td>
											@item.Status!.Name 
										</td>
										<td>
											@if(item.Status!.Name == ConstData.Status_Request &&
												User.IsInRole(ConstData.Role_Admin_Name))
											{
												<div class="btn-group">
													<form method="post" asp-action="RemoveInvitation" asp-route-id="@item.Id">
														<button type="submit" class="btn btn-sm btn-outline-danger">
															<i class="bi bi-person-dash"></i> Reject
														</button>
													</form>	
													<form method="post" asp-action="AcceptRequest" asp-route-id="@item.Id">
														<button type="submit" class="btn btn-sm btn-outline-primary">
															<i class="bi bi-person-add"></i> Accept
														</button>
													</form>
												</div>
											}
											else if (item.Status!.Name == ConstData.Status_Invitation &&
												User.IsInRole(ConstData.Role_Admin_Name))
											{
											<form method="post" asp-action="RemoveInvitation" asp-route-id="@item.Id">
												<button type="submit" class="btn btn-outline-danger">
													<i class="bi bi-send-dash"></i> Unsent Request
												</button>
											</form>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				}
			</div>
		</div>
	</div>

	<hr class="mt-5"/>
@*		<h3 class="text-primary display-6">TODO: Progress</h3>
	<hr/>*@

	@if (User.IsInRole(ConstData.Role_Admin_Name))
	{
		<div class="alert alert-warning mt-4">
			<h4 class="alert-heading">Warning!</h4>
			<p class="mb-0">
				&emsp;As an Administrator, you can Delete your Drawing Register. Once Register Deleted your Drawings 
				and Projects will be Deleted as well. If you have assigned another team member as an Administrator, 
				you can simply leave Register and join another one or send a request to join the same Register again.
			</p>
			<div class="mt-4">
				<form method="post" asp-action="Leave" class="btn-group">
					<a 
						asp-action="Delete" 
						asp-route-id="@Model.DrawingRegister!.Id" 
						class="btn btn-outline-danger">
							<i class="bi bi-trash-fill"></i>&emsp;Delete Register
					</a>
					<button type="submit" class="btn btn-outline-dark"><i class="bi bi-person-dash"></i>&emsp;Leave Register</button>
				</form>
			</div>
			<span class="text-danger">@Html.TempData["AdminLeave"]</span>
		</div>
	} else 
	{
		<form method="post" asp-action="Leave">
			<button type="submit" class="btn btn-danger"><i class="bi bi-person-dash"></i>&emsp;Leave Register</button>
		</form>
	}
}